services:
    database:
        image: postgres:15-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-sio_test}
            POSTGRES_USER: ${POSTGRES_USER:-sio_user}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-sio_password}
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

    sio_test:
        user: app
        build:
            context: .
            args:
                USER_ID: ${USER_ID:-1000}
        ports:
            - "8337:8337"
        volumes:
            - .:/app:rw
        environment:
            - APP_ENV=dev
        depends_on:
            - database

volumes:
    postgres_data:
