parameters:
    app.tax_rates:
        DE: 19  # Germany - 19%
        IT: 22  # Italy - 22%
        FR: 20  # France - 20%
        GR: 24  # Greece - 24%

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Service\:
        resource: '../src/Service/'

    App\Service\PaypalPaymentProcessorAdapter:
        tags:
            - { name: 'app.payment_processor', key: 'paypal' }

    App\Service\StripePaymentProcessorAdapter:
        tags:
            - { name: 'app.payment_processor', key: 'stripe' }

    App\Service\PaymentProcessorFactory:
        arguments:
            $processors: !tagged_iterator { tag: 'app.payment_processor', index_by: 'key' }

    App\Service\TaxRateProvider:
        arguments:
            $taxRates: '%app.tax_rates%'

    App\Repository\:
        resource: '../src/Repository/'

    App\DataFixtures\:
        resource: '../src/DataFixtures/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Validator\:
        resource: '../src/Validator/'

    Systemeio\TestForCandidates\PaymentProcessor\PaypalPaymentProcessor: ~
    Systemeio\TestForCandidates\PaymentProcessor\StripePaymentProcessor: ~
